# Normalize line endings: LF in the repository, CRLF in the working tree (Visual Studio on Windows)
* text=auto eol=crlf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
